.footer {
  background-color: hsl(var(--black));

  &__row {
    padding-block: 3rem 2rem;
    display: grid;
    row-gap: 2.5rem;
    @media screen and (min-width: 1150px) {
      padding-block: 4rem;
      grid-template-columns: repeat(2, max-content);
      justify-content: space-between;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    @media screen and (min-width: 1150px) {
      column-gap: 3rem;
      order: 1;
    }
  }

  &__link {
    color: hsl(var(--white));
    transition: color 0.4s;

    &:hover {
      color: hsl(var(--black-light));
    }
  }

  &__copy {
    color: hsl(var(--black-light));
    font-size: var(--fs-sm);
    text-align: center;

    b {
      color: hsl(var(--white));
      font-weight: 500;
    }
  }
}
