.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: hsl(var(--background));
  transition:
    box-shadow 0.4s,
    background-color 0.4s;

  &.scroll {
    box-shadow: 0 1px 16px hsl(var(--black) / 0.12);
  }

  &__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4rem;
    min-height: 3.5rem;
    @media screen and (min-width: 1150px) {
      min-height: 5.5rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }
}
