.contact-btn {
  display: none;
  @media screen and (min-width: 1150px) {
    display: inline-flex;
    margin-right: 4rem;
  }
}

.open-mobile-menu {
  @media screen and (min-width: 1150px) {
    display: none;
  }
}