.logo {
  &__link {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 600;
    color: hsl(var(--foreground-heading));
  }

  &__letter {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: hsl(var(--black));
    color: hsl(var(--white));
  }
}
