.mobile-menu {
  text-align: center;
  padding-block: 1.8rem 5rem;
  background-color: hsl(var(--black) / 0.75);
  backdrop-filter: blur(8px);
  text-align: center;

  &__title {
    display: block;
    color: hsl(var(--white));
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
  }

  &__name {
    position: relative;
    width: max-content;
    margin: 0 auto 3rem;
    color: hsl(var(--white));
    font-size: var(--fs-xl);

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      width: 40px;
      height: 1px;
      background-color: hsl(var(--black-light));
    }

    &::after {
      left: -4rem;
    }

    &::before {
      right: -4rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  &__link {
    position: relative;
    font-size: var(--fs-lg);
    font-weight: 600;
    color: hsl(var(--foreground-light));
    transition: color 0.3s;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.5rem;
      width: 0;
      height: 2px;
      background-color: hsl(var(--white));
      transition: width 0.3s;
    }

    &.active,
    &:hover {
      color: hsl(var(--white));

      &::after {
        width: 25%;
      }
    }
  }
}
