.navbar {
  display: none;
  @media screen and (min-width: 1150px) {
    display: flex;
    column-gap: 4rem;
    margin-left: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 4rem;
  }

  &__link {
    position: relative;
    font-weight: 600;
    color: hsl(var(--foreground));

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.5rem;
      width: 0;
      height: 2px;
      background-color: hsl(var(--foreground-heading));
      transition: width 0.3s;
    }

    &:hover {
      color: hsl(var(--foreground-heading));
    }

    &.active {
      color: hsl(var(--foreground-heading));

      &::after {
        width: 25%;
      }
    }
  }
}
