.scroll-up {
  position: fixed;
  z-index: 100;
  right: 1rem;
  bottom: -100%;
  background-color: hsl(var(--black));
  color: hsl(var(--white));
  display: inline-flex;
  padding: 0.5rem;
  transition:
    bottom 0.4s,
    background-color 0.4s;
  @media screen and (min-width: 1150px) {
    right: 3rem;
  }

  &:hover {
    background-color: hsl(var(--primary));
  }

  &.scrolled {
    bottom: 3rem;
  }
}
