:root {
  --radius: 0.5rem;

  --ff-bai-jamjuree: 'BaiJamjuree', sans-serif;

  --fs-2xs: 0.5rem;
  --fs-xs: 0.75rem;
  --fs-sm: 0.813rem;
  --fs-base: 0.938rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.875rem;
  --fs-4xl: 2.25rem;
  --fs-5xl: 3rem;
  --fs-6xl: 3.75rem;
  --fs-7xl: 4.5rem;
  --fs-8xl: 6rem;
  --fs-9xl: 8rem;
}

@media screen and (min-width: 1150px) {
  :root {
    --fs-5xl: 4.5rem;
    --fs-3xl: 3rem;
    --fs-xl: 1.5rem;
    --fs-lg: 1.25rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.813rem;
  }
}
