.about {
  background-color: hsl(var(--card));
  transition: background-color 0.4s;

  &__row {
    display: grid;
    @media screen and (min-width: 576px) {
      grid-template-columns: 350px;
      justify-content: center;
    }
    @media screen and (min-width: 1150px) {
      grid-template-columns: 440px 525px;
      gap: 1rem 9rem;
      align-items: center;
      padding-block: 1rem;
    }

    .section__title-1 {
      @media screen and (min-width: 1150px) {
        align-self: flex-end;
        margin-inline: 0;
      }
    }
  }

  &__profile {
    position: relative;
    justify-self: center;
    margin-block: 2.5rem 4.5rem;
    @media screen and (min-width: 1150px) {
      order: -1;
      grid-row: 1 / 3;
    }
  }

  &__image {
    width: 180px;
    @media screen and (min-width: 340px) {
      width: 220px;
    }
    @media screen and (min-width: 1150px) {
      width: 350px;
    }
  }

  &__img {
    position: relative;
    border: 4px solid hsl(var(--white));
    z-index: 1;
    @media screen and (min-width: 1150px) {
      border: 8px solid hsl(var(--white));
    }
  }

  &__shadow {
    position: absolute;
    width: 150px;
    height: 330px;
    background-color: hsl(var(--background));
    top: -2.5rem;
    right: -2.5rem;
    border-bottom: 4px solid hsl(var(--primary));
    transition: background-color 0.4s;
    width: 180px;
    @media screen and (min-width: 340px) {
      height: 385px;
      right: -3.5rem;
    }
    @media screen and (min-width: 1150px) {
      width: 240px;
      height: 615px;
      top: -4rem;
      right: -5.5rem;
      border-bottom: 6px solid hsl(var(--primary));
    }
  }

  &__geometric-box {
    top: 1.5rem;
    right: -2.8rem;
    @media screen and (min-width: 1150px) {
      right: -4rem;
      top: 4.5rem;
    }
  }

  &__random-lines {
    position: absolute;
    right: -1.25rem;
    top: 6rem;
    filter: invert(1);
    width: 50px;
    transition: filter 0.4s;
    @media screen and (min-width: 1150px) {
      width: 80px;
      right: -2rem;
      top: 10rem;
    }
  }

  &__box {
    position: absolute;
    right: -0.5rem;
    bottom: 1.5rem;
    width: 40px;
    height: 40px;
    background-color: hsl(var(--primary));
    @media screen and (min-width: 1150px) {
      width: 64px;
      height: 64px;
      right: -0.75rem;
    }
  }

  &__info {
    @media screen and (min-width: 1150px) {
      align-self: flex-start;
      padding-left: 3rem;
    }
  }

  &__title {
    margin-bottom: 1rem;
    font-size: var(--fs-2xl);
    text-align: center;
  }

  &__description {
    position: relative;
    color: hsl(var(--foreground-heading));
    margin-bottom: 1.5rem;
    margin-left: 1.25rem;
    @media screen and (min-width: 1150px) {
      font-size: var(--fs-xl);
      margin-bottom: 2rem;
    }

    &::after {
      content: '';
      position: absolute;
      left: -1.75rem;
      top: 0.5rem;
      width: 20px;
      height: 1px;
      background-color: hsl(var(--foreground-heading));
      @media screen and (min-width: 1150px) {
        width: 32px;
        height: 2px;
        left: -3rem;
        top: 14px;
      }
    }
  }

  &__skills {
    padding-left: 1.25rem;
  }

  &__list {
    list-style: square;
    color: hsl(var(--foreground-heading));
    margin-bottom: 2rem;
    @media screen and (min-width: 1150px) {
      margin-bottom: 5rem;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    @media screen and (min-width: 1150px) {
      justify-content: initial;
    }
  }
}
