.contact {
  padding-bottom: 0;

  &__row {
    display: grid;
    gap: 1.5rem;
    position: relative;
    @media screen and (min-width: 576px) {
      grid-template-columns: 500px;
      justify-content: center;
    }
    @media screen and (min-width: 1150px) {
      grid-template-columns: 440px 670px;
      grid-template-rows: initial;
      padding-bottom: 2rem;
    }
  }

  &__data {
    position: relative;
    z-index: 5;
    background-color: hsl(var(--card));
    padding: 3rem 1.5rem 3.5rem;
    margin-inline: -1rem;
    border-bottom: 4px solid hsl(var(--primary));
    transition: background-color 0.4s;
    @media screen and (min-width: 340px) {
      width: 300px;
      margin-left: auto;
    }
    @media screen and (min-width: 576px) {
      width: 350px;
      padding: 4rem 1.5rem;
      margin-inline: auto;
    }
    @media screen and (min-width: 1150px) {
      width: 392px;
      padding: 4.5rem 3.5rem 3.5rem;
      margin: 7.5rem 0 0 8rem;
      border-bottom: 6px solid hsl(var(--primary));
    }

    .section__title-2 {
      margin: 0 0 1.5rem;
      @media screen and (min-width: 340px) {
        transform: translateX(-3rem);
      }
      @media screen and (min-width: 1150px) {
        margin: 0 0 2rem;
        transform: translateX(-6.5rem);
      }
    }
  }

  &__description-1 {
    color: hsl(var(--foreground-heading));
    font-weight: 500;
    margin-bottom: 2rem;
  }

  &__description-2 {
    color: hsl(var(--foreground-heading));
    font-size: var(--fs-sm);
  }

  &__geometric-box {
    top: 2rem;
    right: 2.5rem;
  }

  &__mail {
    position: relative;
    background-color: hsl(var(--black));
    padding: 5rem 1.5rem 2.5rem;
    margin-top: -2.5rem;
    transition: background-color 0.4s;
    margin-right: -1rem;
    margin-left: -1rem;
    @media screen and (min-width: 1150px) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      padding: 7rem 5.5rem 6rem 7.5rem;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__title {
    color: hsl(var(--white));
    font-size: var(--fs-2xl);
    margin-bottom: 2rem;
    text-align: center;
    @media screen and (min-width: 1150px) {
      text-align: initial;
      font-size: var(--fs-lg);
    }
  }

  &__form {
    display: grid;
    row-gap: 1.25rem;
    position: relative;

    &-group {
      display: grid;
      row-gap: 1.25rem;
      @media screen and (min-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
      }
    }

    &-box {
      position: relative;
      width: 100%;
      height: 58px;
      @media screen and (min-width: 1150px) {
        height: 60px;
      }
    }

    &-input {
      position: absolute;
      width: 100%;
      height: 100%;
      font-weight: 500;
      background-color: hsl(var(--black));
      color: hsl(var(--white));
      border: 3px solid hsl(var(--black-light));
      padding: 0.5rem 1rem;
      transition:
        border 0.4s,
        background-color 0.4s;

      &::placeholder {
        color: hsl(var(--foreground-light));
        transition: opacity 0.4s;
      }

      &:focus-visible {
        outline: none;
        border: 3px solid hsl(var(--white));
      }

      &:focus-visible::placeholder {
        opacity: 0;
      }

      &:-webkit-autofill {
        transition:
          background-color 6000s,
          color 6000s;
      }
    }

    &-input:focus-visible + &-label {
      opacity: 1;
      top: -16px;
    }

    &-input:not(:placeholder-shown).contact__form-input:not(:focus-visible)
      + &-label {
      opacity: 1;
      top: -16px;
    }

    &-label {
      position: absolute;
      top: 8px;
      left: 10px;
      color: hsl(var(--foreground-light));
      font-size: var(--fs-sm);
      font-weight: 500;
      background-color: hsl(var(--black));
      padding: 8px;
      pointer-events: none;
      opacity: 0;
      transition:
        top 0.4s,
        opacity 0.4s,
        background-color 0.4s;
    }

    &-area {
      height: 10rem;
      @media screen and (min-width: 1150px) {
        height: 11rem;
      }

      textarea {
        resize: none;
        padding-top: 1rem;
      }
    }

    &-button {
      margin-top: 1.25rem;
      width: max-content;
    }
  }

  &__social {
    display: grid;
    row-gap: 1rem;
    background-color: hsl(0, 0%, 10%);
    padding-block: 1rem 2rem;
    text-align: center;
    margin-right: -1rem;
    margin-left: -1rem;
    @media screen and (min-width: 576px) {
      background-color: transparent;
    }
    @media screen and (min-width: 1150px) {
      margin-left: 8rem;
      text-align: initial;
    }

    &-arrow {
      width: 32px;
      margin: 0 auto;
      @media screen and (min-width: 576px) {
        filter: invert(1);
      }
      @media screen and (min-width: 1150px) {
        width: 40px;
      }
    }

    &-data {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
      @media screen and (min-width: 1150px) {
        flex-direction: row;
        align-items: center;
        column-gap: 1.25rem;
      }
    }

    &-description-1 {
      color: hsl(var(--black-light));
      font-size: var(--fs-sm);
      margin-bottom: 0.5rem;
      @media screen and (min-width: 576px) {
        color: hsl(var(--foreground));
      }
    }

    &-description-2 {
      color: hsl(var(--white));
      font-size: var(--fs-sm);
      font-weight: 600;
      margin-bottom: 0.5rem;
      @media screen and (min-width: 576px) {
        color: hsl(var(--foreground-heading));
      }
    }

    &-links {
      display: flex;
      justify-content: center;
      column-gap: 0.75rem;
    }

    &-link {
      background-color: hsl(var(--black-light));
      color: hsl(var(--white));
      padding: 6px;
      font-size: 1.25rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: hsl(var(--primary));
      }
    }
  }
}
