.home {
  &__row {
    display: grid;
    row-gap: 1.5rem;
    padding-top: 2rem;
    @media screen and (min-width: 576px) {
      grid-template-columns: 350px;
      justify-content: center;
    }
    @media screen and (min-width: 1150px) {
      grid-template-columns: repeat(2, 460px);
      gap: 2rem 4rem;
      align-items: center;
      padding-block: 5.5rem;
    }
  }

  &__name {
    font-size: var(--fs-5xl);
    text-align: center;
    @media screen and (min-width: 1150px) {
      text-align: initial;
      align-self: flex-end;
    }
  }

  &__profile {
    position: relative;
    justify-self: center;
    @media screen and (min-width: 1150px) {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }

  &__image {
    width: 180px;
    @media screen and (min-width: 340px) {
      width: 220px;
    }
    @media screen and (min-width: 1150px) {
      width: 350px;
    }
  }

  &__img {
    position: relative;
    z-index: 10;
  }

  &__shadow {
    position: absolute;
    right: -0.75rem;
    bottom: -0.75rem;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--card));
    border: 4px solid hsl(var(--black));
    z-index: 5;
    transition: background-color 0.4s;
    @media screen and (min-width: 1150px) {
      right: -1.25rem;
      bottom: -1.25rem;
      border: 6px solid hsl(var(--black));
    }
  }

  &__curved-arrow,
  &__random-lines {
    position: absolute;
    filter: invert(1);
    width: 50px;
    transition: filter 0.4s;
  }

  &__curved-arrow {
    left: 40px;
    bottom: -4rem;
    @media screen and (min-width: 1150px) {
      top: 4.5rem;
      left: -7rem;
      width: 80px;
      rotate: 80deg;
    }
  }

  &__random-lines {
    right: -2rem;
    bottom: -0.5rem;
    @media screen and (min-width: 1150px) {
      left: -15rem;
      bottom: 4rem;
      width: 80px;
      rotate: 30deg;
    }
  }

  &__geometric-box {
    top: 2.5rem;
    left: -0.7rem;
    @media screen and (min-width: 1150px) {
      top: 15rem;
    }
  }

  &__socials {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3rem;
    margin: auto 0;
    display: grid;
    row-gap: 1rem;
    height: max-content;
    @media screen and (min-width: 1150px) {
      left: initial;
      right: -6rem;
    }

    &-link {
      font-size: var(--fs-xl);
      background-color: hsl(var(--black-light));
      color: hsl(var(--white));
      padding: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: hsl(var(--black));
      }
    }
  }

  &__info {
    margin-top: 4rem;
    @media screen and (min-width: 1150px) {
      margin-top: 0;
      align-self: flex-start;
    }
  }

  &__description {
    text-align: center;
    color: hsl(var(--foreground-heading));
    margin-bottom: 1.5rem;
    @media screen and (min-width: 1150px) {
      text-align: initial;
      position: relative;
      font-size: var(--fs-xl);
      margin-bottom: 5.5em;
      padding-left: 3rem;
    }

    &::after {
      @media screen and (min-width: 1150px) {
        content: '';
        width: 32px;
        height: 2px;
        background-color: hsl(var(--foreground-heading));
        position: absolute;
        left: 0;
        top: 14px;
      }
    }

    b {
      background-image: linear-gradient(
        90deg,
        hsla(14, 98%, 50%, 0.3),
        hsla(14, 98%, 50%, 0)
      );
    }
  }

  &__scroll-down {
    display: block;
    width: max-content;
    margin: 0 auto;

    @media screen and (min-width: 1150px) {
      margin: 0;
      display: flex;
      align-items: center;
      column-gap: 0.75rem;
    }

    &-box {
      background-color: hsl(var(--black));
      color: hsl(var(--white));
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      overflow: hidden;
      transition: background-color 0.4s;
      @media screen and (min-width: 1150px) {
        width: 44px;
        height: 44px;
      }

      svg {
        animation: scroll-down 3s infinite;
        @media screen and (min-width: 1150px) {
          font-size: 1.25rem;
        }
      }
    }

    &-text {
      display: none;
      @media screen and (min-width: 1150px) {
        display: block;
        color: hsl(var(--foreground));
        font-size: var(--fs-xs);
        font-weight: 500;
      }
    }
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(0.6rem);
    opacity: 0;
  }
}
