.projects {
  background-color: hsl(var(--card));
  transition: background-color 0.4s;

  &__row {
    display: grid;
    row-gap: 2rem;
    @media screen and (min-width: 576px) {
      grid-template-columns: 350px;
      justify-content: center;
    }
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 350px);
      column-gap: 2rem;
    }
    @media screen and (min-width: 1150px) {
      grid-template-columns: repeat(3, 352px);
      padding-block: 3rem 1rem;
    }
  }

  &__card {
    transition: background-color 0.4s;
    padding: 1rem 1rem 2rem;
    @media screen and (min-width: 1150px) {
      padding: 1.25rem 1.25rem 2.5rem;
    }

    &:hover {
      background-color: hsl(var(--white));
    }
  }

  &__image {
    position: relative;
    margin-bottom: 0.75rem;
    @media screen and (min-width: 1150px) {
      margin-bottom: 1rem;
    }
  }

  &__btn {
    position: absolute;
    right: 1rem;
    bottom: -1.5rem;
    padding: 1rem;
    @media screen and (min-width: 1150px) {
      right: 1.25rem;
    }
  }

  &__content {
    margin-bottom: 1.25rem;
    @media screen and (min-width: 1150px) {
      margin-bottom: 2rem;
    }
  }

  &__subtitle {
    position: relative;
    display: inline-block;
    font-size: var(--fs-sm);
    font-weight: 500;
    color: hsl(var(--foreground));
    margin-bottom: 0.75rem;
    padding-left: 1.5rem;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 1px;
      background-color: hsl(var(--foreground));
    }
  }

  &__title {
    font-size: var(--fs-lg);
    margin-bottom: 0.75rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    color: hsl(var(--foreground));
    font-size: var(--fs-sm);
    font-weight: 500;
    transition: color 0.4s;

    &:hover,
    &:hover svg {
      color: hsl(var(--primary));
    }

    svg {
      font-size: 1rem;
      color: hsl(var(--foreground-heading));
      transition: color 0.4s;
    }
  }
}
