.services {
  &__cards {
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;
    row-gap: 2rem;
    padding-top: 1rem;
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 250px);
      column-gap: 2rem;
    }
    @media screen and (min-width: 1150px) {
      grid-template-columns: repeat(3, 282px);
      column-gap: 5rem;
      padding-block: 3rem;
    }
  }

  &__card {
    position: relative;
    &:hover .services__border {
      transform: translate(0.75rem, 0.75rem);
      @media screen and (min-width: 1150px) {
        transform: translate(1.25rem, 1.25rem);
      }
    }
  }

  &__border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid hsl(var(--primary));
    transition: transform 0.4s;
  }

  &__content {
    position: relative;
    z-index: 5;
    height: 100%;
    background-color: hsl(var(--background));
    border: 4px solid hsl(var(--black));
    padding-inline: 1rem;
    padding-block: 6rem 3rem;
    transition:
      background-color 0.4s,
      border 0.4s;
    @media screen and (min-width: 1150px) {
      padding: 6.5rem 1.5rem 3.5rem;
      border: 6px solid hsl(var(--black));
    }
  }

  &__icon {
    position: relative;
    display: inline-block;

    svg {
      position: relative;
      z-index: 5;
      color: hsl(var(--black));
      font-size: 2rem;
      @media screen and (min-width: 1150px) {
        font-size: 3rem;
      }
    }
  }

  &__box {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 24px;
    height: 24px;
    background-color: hsl(var(--primary));
    @media screen and (min-width: 1150px) {
      width: 32px;
      height: 32px;
    }
  }

  &__title {
    font-size: var(--fs-xl);
    margin-bottom: 1.25rem;
    @media screen and (min-width: 1150px) {
      margin-bottom: 1.5rem;
    }
  }
}
