.dark {
  --background: 0 0% 8%;

  --foreground: 0 0% 70%;
  --foreground-light: 0 0% 64%;
  --foreground-heading: 0 0% 95%;

  --card: 0 0% 12%;
  --card-foreground: 0 0% 70%;

  --popover: 20 14.3% 4.1%;
  --popover-foreground: 60 9.1% 97.8%;

  --primary: 14 80% 50%;
  --primary-foreground: 60 9.1% 97.8%;

  --secondary: 12 6.5% 15.1%;
  --secondary-foreground: 60 9.1% 97.8%;

  --muted: 12 6.5% 15.1%;
  --muted-foreground: 24 5.4% 63.9%;

  --accent: 12 6.5% 15.1%;
  --accent-foreground: 60 9.1% 97.8%;

  --destructive: 0 72.2% 50.6%;
  --destructive-foreground: 60 9.1% 97.8%;

  --border: 12 6.5% 15.1%;
  --input: 12 6.5% 15.1%;
  --ring: 14 80% 50%;

  --black: 0 0% 18%;
  --black-light: 0 0% 30%;
  --white: 0 0% 95%;
}

.dark {
  .header {
    &.scroll {
      box-shadow: 0 1px 16px hsl(var(--black) / 0.6);
    }
  }
  
  .section__title-1::after,
  .section__title-2::after {
    background-color: hsl(var(--primary) / 0.2);
  }

  &
    :is(
      .home__curved-arrow,
      .home__random-lines,
      .about__random-lines,
      .contact__social-arrow
    ) {
    filter: none;
  }

  .home {
    &__description {
      b {
        background: linear-gradient(
          90deg,
          hsl(var(--primary) / 0.3),
          hsl(var(--primary) / 0)
        );
      }
    }
  }

  .projects {
    &__card {
      &:hover {
        background-color: hsl(var(--background));
      }
    }
  }

  & :is(.contact__mail, .contact__form-input, .contact__form-label) {
    background-color: hsl(var(--card));
  }

  .footer {
    background-color: hsl(0, 0%, 4%);
  }

  ::-webkit-scrollbar {
    background-color: hsl(0, 0%, 20%);
  }

  ::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 30%);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 40%);
  }

  .contact {
    &__data {
      @media screen and (min-width: 1150px) {
        box-shadow: 4px 0 8px hsla(0, 0%, 4%, 0.3);
      }
    }
  }
}
