:root {
  --background: 0 0% 87%;

  --foreground: 0 0% 35%;
  --foreground-light: 0 0% 64%;
  --foreground-heading: 0 0% 0%;

  --card: 0 0% 83%;
  --card-foreground: 0 0% 31%;

  --popover: 0 0% 100%;
  --popover-foreground: 20 14.3% 4.1%;

  --primary: 14 98% 50%;
  --primary-foreground: 0 0% 95%;

  --secondary: 60 4.8% 95.9%;
  --secondary-foreground: 24 9.8% 10%;

  --muted: 60 4.8% 95.9%;
  --muted-foreground: 25 5.3% 44.7%;

  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 60 9.1% 97.8%;

  --border: 20 5.9% 90%;
  --input: 20 5.9% 90%;
  --ring: 24.6 95% 53.1%;

  --black: 0 0% 0%;
  --black-light: 0 0% 40%;
  --white: 0 0% 95%;
}
