html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--ff-bai-jamjuree);
  font-size: var(--fs-base);
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.4s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: hsl(var(--foreground-heading));
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(0, 0%, 65%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 55%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 45%);
}
