.main {
  overflow: hidden;
}

.section {
  padding-top: 4rem;
  padding-bottom: 2rem;
  @media screen and (min-width: 1150px) {
    padding-block: 7rem 2rem;
  }

  &__title-1,
  &__title-2 {
    font-size: var(--fs-3xl);
    position: relative;
    width: max-content;
    margin-top: 0.75rem;
    margin-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;

    &::after {
      content: '';
      position: absolute;
      right: -8px;
      width: 40px;
      height: 28px;
      background-color: hsl(var(--primary) / 0.2);
      @media screen and (min-width: 1150px) {
        width: 70px;
        height: 48px;
      }
    }

    span {
      position: relative;
      z-index: 5;
    }
  }

  &__title-1 {
    &::after {
      top: -4px;
    }
  }

  &__title-2 {
    &::after {
      bottom: -4px;
    }
  }
}

.geometric-box {
  position: absolute;
  z-index: 10;
  width: 20px;
  height: 20px;
  background-color: hsl(var(--primary));
  transform: rotate(-30deg) scale(1);
  @media screen and (min-width: 1150px) {
    transform: rotate(-30deg) scale(1.2);
  }

  &::after {
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    width: 16px;
    height: 16px;
    border: 3px solid hsl(var(--black));
  }
}
